/.venv/
/.pytest_cache/
/.ruff_cache/
/dist/
/build/
*.egg-info/
__pycache__/
*.py[cod]
*.pt
.python-version
/fast-foundationstereo
examples/server_test.py
/recordings
examples/store/.env
run_all.bat
